body {margin: 0;
    background-color: cadetblue;
    text-align: left;
    font-size: 15px;
}
h1 {text-align: center;}
h2 {text-align: center;}
*
{
    margin: 0 auto 0 auto;
    text-align:left;
}
.topnav{
    background-color: #334;
    float: left;
    height: 50px;
    width: 1190px;
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000026;
}

.topnav li {
    float: left;
}

.topnav li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content{
    <!--float: center;-->
    min-height:515px;
    width: 1200px;
}

.content2{
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 40px;
    background-color: #c0d6e4;
    padding-left:20px;
    padding-right:20px;
    padding-top: 30px;
    padding-bottom: 10px;
    float: center;
    min-height: 515px;
    width: 951px;
    font-size: 1vw;
}

.header{
    color: #FFFFFF;
    text-align: left;
    height: 60px;
    width: 1200px;
    font-size: 1vw;
}

.footer{
    width: inherit;
    height: auto;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    <!--float: center;-->
<!--height: 50px;-->
<!--width: 1280px;-->
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive{
    width: 100%;
    height: auto;
}